@model IEnumerable<PriseEnMain.Models.TypeInstrument>

@{
    ViewData["Title"] = "Type Intruments";
}

<div>Type Instruments</div>
<hr />
<br />
<p>
    <a class="btn btn-outline-success rounded-0" asp-controller="TypeInstruments" asp-action="Create">+ Create New One</a>
</p>
<form metho asp-controller="Instruments" asp-action="CreateChooseTypeInstrument">
    <p>
        <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        @foreach (var item in Model)
        {
            @Html.ActionLink(item.Name, "CreateChooseEmetteur", "Instruments", new { typeId = item.Id }, new { @class = "list-group-item list-group-item-action text-primary" })
        }
    </div>
</form>

@*<select multiple class="form-control" size="10">
        @foreach (var item in Model)
        {

            <option class="ml-3 mb-2">

                @Html.ActionLink(item.Name, "SelectItem", "TypeInstruments", item, new { @class = "list-group-item list-group-item-action text-primary" })
            </option>
        }
    </select>*@
@*<label asp-for="TypeInstrumentId" class="control-label"></label>
    <div class="form-group">
        @Html.DropDownListFor(model => model.TypeInstrumentId, Model.TypesInstruments, "Select one", new { @class = "form-control" })
    </div>*@

<div class="btn-container">
    <a class="btn btn-outline-success rounded-0" asp-action="Index"><i data-feather="plus"></i> Back To List Instrument</a>
</div>