
@model IEnumerable<Instrument>
@{
    ViewData["Title"] = "Intruments Sous-jacents";
}

<div>Intruments Sous-jacents</div>
<hr />
<br />
<p>
    <a class="btn btn-outline-success rounded-0" asp-controller="InstrumentSous_jacent" asp-action="Create">+ Create New One</a>
</p>
<form asp-controller="Instruments" asp-action="CreateChooseInstrumentSousjacent">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@foreach (var item in Model)
{
<div class="ml-3 mb-2"> 
    @Html.ActionLink(item.Name, "SelectItem", "TypeInstrument", item, new { @class = "list-group-item list-group-item-action text-primary" })
</div>

}
<br />
<div class="btn-container">
    <div class="btn-container">
        <a class="btn btn-outline-success rounded-0" asp-action="CreateChooseEmetteur"><i data-feather="plus"></i> Back</a>
        <a class="btn btn-outline-success rounded-0" asp-action="CreateChooseAttribut"><i data-feather="plus"></i> Next</a>
    </div>


</div>