
@model IEnumerable<Contrat>
@{
    ViewData["Title"] = "Contrats";
}

<div>Contrats</div>
<hr />
<br />
<p>
    <a class="btn btn-outline-success rounded-0" asp-controller="Contrats" asp-action="Create">+ Create New One</a>
</p>
<form asp-controller="Instruments" asp-action="CreateChooseContrat">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

@foreach (var item in Model)
{
<div class="ml-3 mb-2">
    @Html.ActionLink(item.Name, "SelectItem", "Contrats", item, new { @class = "list-group-item list-group-item-action text-primary" })
</div>

}
<br />
<div class="btn-container">
    <div class="btn-container">
        <a class="btn btn-outline-success rounded-0" asp-action="CreateChooseAttribut"><i data-feather="plus"></i> Back</a>
        <a class="btn btn-outline-success rounded-0" asp-action="Index"><i data-feather="plus"></i> Finish</a>
    </div>


</div>
