@model PriseEnMain.ViewModels.EditInstrumentSousJacentVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Instrument</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeInstrumentId" class="control-label"></label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.TypeInstrumentId, Model.TypesInstruments, "Select one")
                </div>
            </div>
            <div class="form-group">
                <label asp-for="EmetteurId" class="control-label"></label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.EmetteurId, Model.Emetteurs, "Select one")
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ContratId" class="control-label"></label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.ContratId, Model.Contrats, "Select one")
                </div>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentSousJacentId" class="control-label"></label>
                <div class="form-group">
                    @Html.DropDownListFor(model => model.InstrumentSousJacentId, Model.InstrumentsSousJacents, "Select one")
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

