@model PriseEnMain.ViewModels.CreateInstrumentVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contrat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div  class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="ContratName" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="TypeInstrumentId" type="hidden" />
                <input asp-for="EmetteurId" type="hidden" />
                <input asp-for="InstrumentSousJacentId" type="hidden" />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Instruments" asp-action="CreateChooseContrat">Back To Create Instrument</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
